* {
  box-sizing: border-box;
}
body {
  background-color: #fefae0;
  position: relative;

  height: 100vw;
}

section {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

header {
  background-image: url("../images/bg-header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 125vw;
  overflow: hidden;
}
.c1 {
  width: 55vw;
  height: 55vw;
  margin-left: 45vw;
}
.c2 {
  width: 50vw;
  height: 50vw;
  margin-left: 45vw;
  margin-top: 24vw;
}
.c3 {
  width: 29vw;
  height: 29vw;
  margin-left: 80vw;
  margin-top: 38vw;
}
.c4 {
  width: 38vw;
  height: 38vw;
  margin-right: 60vw;
  margin-top: 2vw;
}
.c5 {
  width: 35vw;
  height: 35vw;
  margin-right: 45vw;
  margin-top: 20vw;
}
.c6 {
  width: 18vw;
  height: 18vw;
  margin-right: 70vw;
  margin-top: 30vw;
}
.s1 {
  width: 6vw;
  margin-right: 64vw;
  margin-top: -19vw;
}
.s2 {
  width: 5vw;
  margin-right: 14vw;
  margin-top: -3vw;
}
.s3 {
  width: 8vw;
  margin-right: 89vw;
  margin-top: 7vw;
}
.trees {
  width: 100%;
}
.tree {
  width: 100%;
  background-image: url("../images/tree2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 244vw;

  position: relative;
}
.tree > img {
  width: 8vw;
  height: auto;
  position: absolute;
}
.text {
  position: relative;
  width: 100%;
  top: 8vw;
  overflow: hidden;
}
.apple1 {
  left: 20vw;
  top: 38vw;
}
.apple2 {
  top: 69vw;
  left: 20vw;
}
.apple3 {
  top: 113vw;
  left: 18vw;
}
.apple4 {
  left: 78vw;
  top: 59vw;
  transform: rotate(30deg);
}

.apple6 {
  top: 120vw;
  left: 58vw;
}
.apple7 {
  top: 49vw;
  left: 68vw;
}
.apple8 {
  left: 85vw;
  top: 150vw;
}
.apple9 {
  top: 190vw;
  left: 75vw;
}
.apple10 {
  top: 148vw;
  left: 38vw;
}
.apple11 {
  top: 185vw;
  left: 4vw;
}
.container {
  position: relative;
  width: 100%;
  height: 100vw;
  overflow: hidden;
}
.clothes {
  position: absolute;
  width: 180.2vw;
  top: 8vw;
  left: 0;
}
.windows {
  position: relative;
  width: 100%;
  overflow: hidden;
  top: -60vw;
}
.windowsMobile {
  display: none;
  width: 90%;
  height: 80vw;
  background-image: url("../images/winclosemob.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation: fade 6s infinite steps(1);
  margin: 0 auto;
}
.window {
  width: 90%;
  height: 80vw;
  background-image: url("../images/vinclose.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation: fade 6s infinite steps(1);
  margin: 0 auto;
}
.clothes {
  position: absolute;
  width: 180.2vw;
}
.zabor {
  z-index: 5;
  position: absolute;
  width: 200vw;
}
.zabor1 {
  position: relative;
  width: 100vw;
  height: 150vw;
  top: -60vw;
  overflow: hidden;
}
.corzina1 {
  position: relative;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}
.corzina {
  position: absolute;
  width: 100vw;
  margin: 0 auto;
  top: 70vw;
  overflow: hidden;
}
.p1 {
  width: 30vw;
  height: auto;
  position: absolute;
  z-index: 4;
  left: 13vw;
}
.p1:hover {
  animation-play-state: paused;
}
.p2 {
  width: 30vw;
  height: auto;
  position: absolute;
  z-index: 4;
  left: 27vw;
}
.p2:hover {
  animation-play-state: paused;
}
.p3 {
  width: 30vw;
  height: auto;
  position: absolute;
  z-index: 4;
  left: 14vw;
}
.p3:hover {
  animation-play-state: paused;
}
.p4 {
  width: 30vw;
  height: auto;
  position: absolute;
  z-index: 4;
  left: 37vw;
}
.p4:hover {
  animation-play-state: paused;
}
.p5 {
  width: 30vw;
  height: auto;
  position: absolute;
  z-index: 4;
  left: 47vw;
}
.p5:hover {
  animation-play-state: paused;
}
.p6 {
  width: 30vw;
  height: auto;
  position: absolute;
  z-index: 4;
  left: 50vw;
}
.p6:hover {
  animation-play-state: paused;
}
