* {
  box-sizing: border-box;
}
body {
  background-image: url("../images/moun.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fefae0;
}
.c1 {
  width: 55vw;
  height: 55vw;
  margin-left: 45vw;
}
.c2 {
  width: 50vw;
  height: 50vw;
  margin-left: 45vw;
  margin-top: 24vw;
}
.c3 {
  width: 29vw;
  height: 29vw;
  margin-left: 80vw;
  margin-top: 38vw;
}
.c4 {
  width: 38vw;
  height: 38vw;
  margin-right: 60vw;
  margin-top: 2vw;
}
.c5 {
  width: 35vw;
  height: 35vw;
  margin-right: 45vw;
  margin-top: 20vw;
}
.c6 {
  width: 18vw;
  height: 18vw;
  margin-right: 70vw;
  margin-top: 30vw;
}
.s1 {
  width: 6vw;
  margin-right: 64vw;
  margin-top: -19vw;
}
.s2 {
  width: 5vw;
  margin-right: 14vw;
  margin-top: -3vw;
}
.s3 {
  width: 8vw;
  margin-right: 89vw;
  margin-top: 7vw;
}
